.cards {
  width: 100%;
  height: calc(100vh - 205px);
  display: flex;
  justify-content: center;
  overflow: auto;
  flex-wrap: wrap;
}

.card {
  margin: 20px;
  box-shadow: 1px 5px 20px 10px grey;
  border-radius: 25px;
  position: relative;
  width: 400px;
  height: 520px;
}

.studies {
  justify-self: flex-start;
}

.container-Waves {
  max-width: 100%;
  height: 100px;
  margin: 20px;
  margin-bottom: 0;
  background-color: #1a1a2e;
  position: relative;
  display: flex;
  align-items: flex-end;
  border-bottom: 12px solid #CC5D65;
}

.spaceCont {
  height: 91px;
}

.wave {
  position: absolute;
  width: 100%;
}

::-webkit-scrollbar {
  width: 7px;
  z-index: 0;
}

::-webkit-scrollbar-thumb {
  background-color: #CC5D65;
}

.wave.a {
  animation: AwaveAnimation 8s infinite ease alternate;
}

.wave.b {
  animation: AwaveAnimation 7s infinite ease alternate-reverse;
}

.wave.c {
  animation: AwaveAnimation 4s infinite ease alternate-reverse;
}

.fullName {
  max-width: 100%;
  flex-wrap: wrap;
  margin: 20px;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: space-around;
  position: relative;
  background-color: #0f3460;
  color: #fff;
}

.fullName img {
  width: 110px;
  border-radius: 50%;
  height: 110px;
  margin: auto 5px;
  object-fit: cover;
}

.fullName-text {
  margin: 5px;
}

.description {
  max-width: 100%;
  background-color: #1a1a2e;
  color: white;
}

.description-info {
  display: flex;
  justify-content: center;
  width: 100%;
}

.description ul {
  display: flex;
  list-style: none;
}

.description p {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
}

.course {
  text-align: center;
  font-weight: bold;
  color: #c1525a;
  margin: 0;
  font-style: italic;
}

@keyframes AwaveAnimation {
  0% {
    left: 0;
    bottom: 0;
  }
  1% {
    bottom: -1px;
  }
  2% {
    bottom: -2px;
  }
  5% {
    bottom: -5px;
  }
  7% {
    bottom: -6px;
  }
  10% {
    bottom: -8px;
  }
  20% {
    bottom: -10px;
  }
  25% {
    bottom: -11px;
  }
  30% {
    bottom: -12px;
  }
  40% {
    bottom: -14px;
  }
  50% {
    bottom: -16px;
  }
  60% {
    bottom: -17px;
  }
  70% {
    bottom: -18px;
  }
  80% {
    bottom: -19px;
  }
  90% {
    bottom: -20px;
  }
  100% {
    bottom: -20px;
  }
}

@media screen and (max-width:480px) {
  .card {
    width: 100%;
  }
}