.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn {
  margin-left: 15px;
  background-color: #008500;
  color: aliceblue;
  font-size: 1rem;
  font-style: italic;
  border: none;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  transition: .05s;
}

.btn a {
  text-decoration: none;
  color: aliceblue;
}

.btn.dark {
  background-color: #1a1a2e;
}

.btn.dark:hover {
  box-shadow: 0px 0px 15px 0px #1a1a2e;
}

.btn.dark:active {
  color: #1a1a2e;
}

.btn.danger {
  background-color: #dd2133;
}

.btn.primary {
  background-color: #186bcf;
}

.btn.primary:hover {
  box-shadow: 0px 0px 15px 0px #186bcf;
}

.btn.primary:active {
  color: #186bcf;
}

.btn.danger:hover {
  box-shadow: 0px 0px 15px 0px #dd2133;
}

.btn.danger:active {
  color: #dd2133;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0px 0px 15px 0px #008500;
}

.btn:active {
  background-color: white;
  color: #008500;
  transform: scale(.9);
}

a:active {
  color: #008500;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
